:root {
    --head-font: Merriweather, sans-serif;
    --secondary-font: Lato, roboto;
    --light-weight: 300;
    --primary-cta: #DDDDDD;
    --secondary-cta: #06113C;
    --third-cta: #FF8C32;
}

h1 {
    font-family: var(--head-font);
}

h3 {
    font-family: var(--secondary-font);
}

.hero-pic {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-container {
    margin-top: 100px;
}

.secondary-intro {
    font-weight: var(--light-weight)
    ;
}

.cta-btn-homepage {
    margin: 5px;
}

.cta-btn {
    background-color: var(--third-cta);
    border: 1px solid var(--third-cta);
}

.cta-btn:hover {
    background-color: white;
    border: 1px solid var(--third-cta);
    color: var(--third-cta);
}

.cta-btn:focus {
    background-color: white;
    border: 1px solid var(--third-cta);
    color: var(--third-cta) !important;
}

.cta-btn::after {
    outline: 1rem var(--third-cta) !important;
}

.secondary-cta-btn {
    background-color: var(--secondary-cta);
    border: 1px solid var(--secondary-cta);
}

.secondary-cta-btn:hover {
    background-color: white;
    border: 1px solid var(--secondary-cta);
    color: var(--secondary-cta);
}

.cta-btn-link {
    text-decoration: none;
    color: white;
}

.primary-btn-link:hover {
    color: var(--third-cta);
    text-decoration: none;
}

.secondary-btn-link:hover {
    color: var(--secondary-cta);
    text-decoration: none;
}

.primary-btn-link:active {
    color: var(--third-cta);
    text-decoration: none;
}

.secondary-btn-link:active {
    color: var(--secondary-cta);
    text-decoration: none;
}

.cta-btn:active {
    color: var(--third-cta);
    text-decoration: none;
}

.secondary-cta-btn:active {
    color: var(--secondary-cta);
    text-decoration: none;
}

/* Value Container*/
.value-icon {
    color: var(--secondary-cta);
    font-size: 24px;
}

.value-container {
    font-family: var(--head-font);
    font-weight: var(--light-weight);
}

.value-prop-container {
    margin-top: 9%;
    margin-bottom: 9%;
}

/* Problem Section */ 
.problem-container {
    margin: 8%;
}

.card-problem-container {
    background-color: var(--primary-cta);
}

/*Responsive CSS */

@media (max-width: 600px) {
    .hero-container {
        text-align: center;
    }
}

@media (max-width: 785px) {
    .cta-btn-homepage {
        margin: 0 auto;
    }
}

@media (max-width: 785px) {
    .secondary-cta-btn {
        margin-top: 4px;
    }
}